.popUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2;
}

.popUpInner {
  position: relative;
  padding:32px;
  width: 100%;
  max-width: 640px;
  background-color: white;
  
}

.popUpInner .close-btn {
  position: relative;
  top: 16px;
  right: 16px;
}

.cardListContainer {
  width: 100%;
  height: 100%;
  
  z-index: 1;
}

.close-btn:hover {
  background-color: rgb(141, 54, 54);
}

.buyLinks {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.buyLinks:hover {
  color: white;
  
}