.currentUserAllHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(225deg, #1f2538, #1a202f);
  box-shadow:  -9px 9px 18px #151a26,
               9px -9px 18px #252c42;
}