
.userInput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2%;
}

.cardListUl {
  list-style-type: none;
}

.cardList {
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  color: white;

}
.popUpContainer {
  background-color: red;
}
.popUpText {
  font-size: 30px;
}

