

.NavBarContainer{
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.NavBarList {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  list-style: none;
}

.nav-links {
  padding: 10px;
  margin: 10px;
  color: black;
  background-color: gray;
  border-radius: 20px;
}

a:hover {
  background-color: red;
}
